<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <style>
        body {
            font-family: sans-serif;
            background-color: #1f2424;
            height: 100vh;
            text-align: center;
        }
        .box {
            width: 70%;
            margin: auto;
            border-radius: 10px;
            background-color: #282f2f;
            color: white;
            margin-top: 2em;
            padding: 2em;
            padding-top: 1em;
        }
        .pswd-box {
            width: 20%;
            margin: auto;
            border-radius: 10px;
            background-color: #7f7fd5;
            color: white;
            padding: 2em;
            text-align: center;
        }
    </style>
    <body>
        <div class="container">
            <div class="box">
                <h1>Welcome to Betaschool</h1>
                <p>You've been made an {{ $role }}</p>
                <p>
                    Your password is
                </p>
                <div class="pswd-box">
                    <strong>{{ $password }}</strong>
                </div>
                <p>
                    You will prompted to change it as soon as you login for the
                    first time
                </p>
            </div>
        </div>
    </body>
</html>
